EAI/Service/Transaction/F0104_Rs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tw.org.ba="http://www.ba.org.tw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="IFX">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EAIHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string" />
                            <xs:element name="RecID" type="xs:string" />
                            <xs:element name="SrcSystemID" type="xs:string" />
                            <xs:element name="DomID" type="xs:string" />
                            <xs:element name="ErrCode" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LogTxn">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string" />
                            <xs:element name="PrcDt" type="xs:date" />
                            <xs:element name="PmtID" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EAIBody">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MsgRs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Header">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TxnId" type="xs:string" />
                                                    <xs:element name="RecCtrlStatus" type="xs:unsignedByte" />
                                                    <xs:element name="RspCode" type="xs:string" />
                                                    <xs:element name="Desc" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SvcRs">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="BRNO" type="xs:string" />
                                                    <xs:element name="TRMSEQ" type="xs:string" />
                                                    <xs:element name="TXTNO" type="xs:string" />
                                                    <xs:element name="CIFKEY" type="xs:string" />
                                                    <xs:element name="CIFERR" type="xs:string" />
                                                    <xs:element name="NODATA" type="xs:string" />
                                                    <xs:element name="CNAME" type="xs:string" />
                                                    <xs:element name="ACTYP" type="xs:string" />
                                                    <xs:element maxOccurs="unbounded" name="Detail" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ACTNO" type="xs:string" />
                                                                <xs:element name="CURCD" type="xs:string" />
                                                                <xs:element name="BAL" type="xs:string" />
                                                                <xs:element name="OPDAY" type="xs:string" />
                                                                <xs:element name="CLSDAY" type="xs:string" />
                                                                <xs:element name="CHARCD" type="xs:string" />
                                                                <xs:element name="CHARCD2" type="xs:string" />
                                                                <xs:element name="STATUS" type="xs:string" />
                                                                <xs:element name="UXFLG" type="xs:string" />
                                                                <xs:element name="NAME" type="xs:string" />
                                                                <xs:element name="SBRNO" type="xs:string" />
                                                                <xs:element name="RBRNO" type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>