EAI/Service/Transaction/F4851_Rs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tw.org.ba="http://www.ba.org.tw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IFX">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EAIHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TxnID" type="xs:string" />
							<xs:element name="RecID" type="xs:string" />
							<xs:element name="DomID" type="xs:string" />
							<xs:element name="SrcSystemID" type="xs:string" />
							<xs:element name="TraceID" type="xs:string" />
							<xs:element name="PmtID" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LogTxn">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TxnID" type="xs:string" />
							<xs:element name="PrcDt" type="xs:string" />
							<xs:element name="PmtID" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EAIBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MsgRs">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Header">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TxnId" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SvcRs">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="UID" type="xs:string" />
													<xs:element name="UUID" type="xs:string" />
													<xs:element name="CNAME" type="xs:string" />
													<xs:element name="USERNAME" type="xs:string" />
													<xs:element name="BRANCHID" type="xs:string" />
													<xs:element name="CN" type="xs:string" />
													<xs:element name="SN" type="xs:string" />
													<xs:element name="UAATYPE" type="xs:string" />
													<xs:element name="OPENTYPE" type="xs:string" />
													<xs:element name="TYPE" type="xs:string" />
													<xs:element name="USEREMAIL" type="xs:string" />
													<xs:element name="SESSIONID" type="xs:string" />
													<xs:element name="ROLE" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ROLEID" type="xs:string" />
																<xs:element name="ROLENAME" type="xs:string" />
																<xs:element name="MONEYDAILY" type="xs:string" />
																<xs:element name="MONEYPASS" type="xs:string" />
																<xs:element name="MONEYVERIFY" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="FUNCTION" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TASKID" type="xs:string" />
																<xs:element name="TASKNAME" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ACCOUNT" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ACCOUNTNO" type="xs:string" />
																<xs:element name="CURCD" type="xs:string" />
																<xs:element name="ACCOUNTTYPE" type="xs:string" />
																<xs:element name="TRANSTYPE" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TODOLIST" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TODOTYPE" type="xs:int" />
																<xs:element name="DOCID" type="xs:string" />
																<xs:element name="STEPID" type="xs:string" />
																<xs:element name="TASKID" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ERRCODE" type="xs:string" />
													<xs:element name="ERRTEXT" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>