EAI/Service/Transaction/L0104_Rs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tw.org.ba="http://www.ba.org.tw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="IFX">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EAIHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string" />
                            <xs:element name="RecID" type="xs:string" />
                            <xs:element name="SrcSystemID" type="xs:string" />
                            <xs:element name="DomID" type="xs:string" />
                            <xs:element name="ErrCode" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LogTxn">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string" />
                            <xs:element name="PrcDt" type="xs:date" />
                            <xs:element name="PmtID" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EAIBody">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MsgRs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Header">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TxnId" type="xs:string" />
                                                    <xs:element name="RecCtrlStatus" type="xs:string" />
                                                    <xs:element name="RspCode" type="xs:string" />
                                                    <xs:element name="Desc" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SvcRs">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ACTNO" type="xs:string" />
                                                    <xs:element name="NAME" type="xs:string" />
                                                    <xs:element name="CIFKEY" type="xs:string" />
                                                    <xs:element name="CIFERR" type="xs:string" />
                                                    <xs:element name="INQSDAY" type="xs:string" />
                                                    <xs:element name="INQEDAY" type="xs:string" />
                                                    <xs:element name="ACNO" type="xs:string" />
                                                    <xs:element name="SBNO" type="xs:string" />
                                                    <xs:element name="ACTBAL" type="xs:string" />
                                                    <xs:element name="DMCD" type="xs:string" />
                                                    <xs:element name="APSDAY" type="xs:string" />
                                                    <xs:element name="APAMT" type="xs:string" />
                                                    <xs:element name="DMDATE" type="xs:string" />
                                                    <xs:element name="DMAMT" type="xs:string" />
                                                    <xs:element name="BDDATE" type="xs:string" />
                                                    <xs:element name="BDAMT" type="xs:string" />
                                                    <xs:element name="SINTFG" type="xs:string" />
                                                    <xs:element name="CLSID" type="xs:string" />
                                                    <xs:element name="CLSNO" type="xs:string" />
                                                    <xs:element name="SURFLG" type="xs:string" />
                                                    <xs:element name="APEDAY" type="xs:string" />
                                                    <xs:element name="Detail" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="TXCD" type="xs:string" />
                                                                <xs:element name="IEDATE" type="xs:string" />
                                                                <xs:element name="TXDATE" type="xs:string" />
                                                                <xs:element name="FITIRT" type="xs:string" />
                                                                <xs:element name="TBSDY" type="xs:string" />
                                                                <xs:element name="TXSQ" type="xs:string" />
                                                                <xs:element name="PRIAMT" type="xs:string" />
                                                                <xs:element name="INTAMT" type="xs:string" />
                                                                <xs:element name="BAL" type="xs:string" />
                                                                <xs:element name="NTENF" type="xs:string" />
                                                                <xs:element name="DFAMT" type="xs:string" />
                                                                <xs:element name="EAMT" type="xs:string" />
                                                                <xs:element name="HCODE" type="xs:string" />
                                                                <xs:element name="BLRECFG" type="xs:string" />
                                                                <xs:element name="ISDAY" type="xs:string" />
                                                                <xs:element name="IEDAY" type="xs:string" />
                                                                <xs:element name="INTDAYS" type="xs:string" />
                                                                <xs:element name="DATETYP" type="xs:string" />
                                                                <xs:element name="DCIRAMT" type="xs:string" />
                                                                <xs:element name="PRIAMTD" type="xs:string" />
                                                                <xs:element name="INTAMTD" type="xs:string" />
                                                                <xs:element name="NHCODE" type="xs:string" />
                                                                <xs:element name="SVEFEE" type="xs:string" />
                                                                <xs:element name="DMNO" type="xs:string" />
                                                                <xs:element name="NOTE" type="xs:string" />
                                                                <xs:element name="FUNDBAL1" type="xs:string" />
                                                                <xs:element name="ARDLINT" type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>