EAI/Service/Transaction/L1000_Rq.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tw.org.ba="http://www.ba.org.tw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="IFX"   >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EAIHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string"  />
                            <xs:element name="RecID" type="xs:string"  />
                            <xs:element name="SrcSystemID" type="xs:string"  />
                            <xs:element name="DomID" type="xs:string"  />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LogTxn">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string" />
                            <xs:element name="PrcDt" type="xs:string" />
                            <xs:element name="PmtID" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EAIBody">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MsgRq"  >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Header"  >
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TxnId" type="xs:string"  />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SvcRq"  >
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="KINBR" type="xs:string" />
                                                    <xs:element name="ACTNO" type="xs:string" />
                                                    <xs:element name="HCODE" type="xs:string" />
                                                    <xs:element name="ECKIN" type="xs:string" />
                                                    <xs:element name="ECTRM" type="xs:string" />
                                                    <xs:element name="ECTNO" type="xs:string" />
                                                    <xs:element name="RBRNO" type="xs:string" />
                                                    <xs:element name="CIFKEY" type="xs:string" />
                                                    <xs:element name="CIFERR" type="xs:string" />
                                                    <xs:element name="TXAMT" type="xs:string" />
                                                    <xs:element name="SEQFG" type="xs:string" />
                                                    <xs:element name="ACFLG" type="xs:string" />
                                                    <xs:element name="MGNO" type="xs:string" />
                                                    <xs:element name="ACNO" type="xs:string" />
                                                    <xs:element name="SBNO" type="xs:string" />
                                                    <xs:element name="GUNO" type="xs:string" />
                                                    <xs:element name="FUNCD" type="xs:string" />
                                                    <xs:element name="CHARCD1" type="xs:string" />
                                                    <xs:element name="CHARCD2" type="xs:string" />
                                                    <xs:element name="APSDAY" type="xs:string" />
                                                    <xs:element name="APEDAY" type="xs:string" />
                                                    <xs:element name="IMDAYS" type="xs:string" />
                                                    <xs:element name="IMMONS" type="xs:string" />
                                                    <xs:element name="PRCD" type="xs:string" />
                                                    <xs:element name="PRRATE" type="xs:string" />
                                                    <xs:element name="INTTM" type="xs:string" />
                                                    <xs:element name="INTTW" type="xs:string" />
                                                    <xs:element name="RATECD" type="xs:string" />
                                                    <xs:element name="IRTCD" type="xs:string" />
                                                    <xs:element name="IRTFT" type="xs:string" />
                                                    <xs:element name="SIGN" type="xs:string" />
                                                    <xs:element name="IXPR" type="xs:string" />
                                                    <xs:element name="FITIRT" type="xs:string" />
                                                    <xs:element name="IRTADJ" type="xs:string" />
                                                    <xs:element name="IRTDM" type="xs:string" />
                                                    <xs:element name="ISTFLG" type="xs:string" />
                                                    <xs:element name="PRTM" type="xs:string" />
                                                    <xs:element name="PRTW" type="xs:string" />
                                                    <xs:element name="IRTTM" type="xs:string" />
                                                    <xs:element name="CNIRDT" type="xs:string" />
                                                    <xs:element name="GRACEDAY" type="xs:string" />
                                                    <xs:element name="PRDATE" type="xs:string" />
                                                    <xs:element name="APTYPE" type="xs:string" />
                                                    <xs:element name="APACTNO" type="xs:string" />
                                                    <xs:element name="AUTCD" type="xs:string" />
                                                    <xs:element name="PAYACTNO" type="xs:string" />
                                                    <xs:element name="MGENO" type="xs:string" />
                                                    <xs:element name="SPENO" type="xs:string" />
                                                    <xs:element name="LNCD" type="xs:string" />
                                                    <xs:element name="NOTE" type="xs:string" />
                                                    <xs:element name="CRGRRATE" type="xs:string" />
                                                    <xs:element name="CRGRTYPE" type="xs:string" />
                                                    <xs:element name="YEAR" type="xs:string" />
                                                    <xs:element name="SIFLG" type="xs:string" />
                                                    <xs:element name="SINO" type="xs:string" />
                                                    <xs:element name="CRACTNO" type="xs:string" />
                                                    <xs:element name="INTRQSP" type="xs:string" />
                                                    <xs:element name="LABSTAT" type="xs:string" />
                                                    <xs:element name="RVSNO" type="xs:string" />
                                                    <xs:element name="INTEXT" type="xs:string" />
                                                    <xs:element name="BEGINFEE" type="xs:string" />
                                                    <xs:element name="TXTYPE" type="xs:string" />
                                                    <xs:element name="TAYACTNO" type="xs:string" />
                                                    <xs:element name="LOANTYP" type="xs:string" />
                                                    <xs:element name="GOVSTYP" type="xs:string" />
                                                    <xs:element name="ZEDFRATE" type="xs:string" />
                                                    <xs:element name="IRTKD" type="xs:string" />
                                                    <xs:element name="LCACTNO" type="xs:string" />
                                                    <xs:element name="LCDCNT" type="xs:string" />
                                                    <xs:element name="IDATE" type="xs:string" />
                                                    <xs:element name="SVEINT" type="xs:string" />
                                                    <xs:element name="PERINRATE" type="xs:string" />
                                                    <xs:element name="OFUNDAMT" type="xs:string" />
                                                    <xs:element name="REPYCD" type="xs:string" />
                                                    <xs:element name="REPYCDX" type="xs:string" />
                                                    <xs:element name="CONRATECD" type="xs:string" />
                                                    <xs:element name="FFIDATE" type="xs:string" />
                                                    <xs:element name="MORPRCD" type="xs:string" />
                                                    <xs:element name="ISHLD" type="xs:string" />
                                                    <xs:element name="HLDAMT" type="xs:string" />
                                                    <xs:element name="DFFLAG" type="xs:string" />
                                                    <xs:element name="NXREFNO" type="xs:string" />
                                                    <xs:element name="BTFLG" type="xs:string" />
                                                    <xs:element name="RULE" type="xs:string" />
                                                    <xs:element name="RULEX" type="xs:string" />
                                                    <xs:element name="FITLOW" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>