EAI/Service/Transaction/L1201_Rq.xsd

<?xml version="1.0" ?>
<xs:schema id="IFX" targetNamespace="http://www.ifxforum.org" xmlns:mstns="http://www.ifxforum.org"
	xmlns="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"
	attributeFormDefault="qualified" elementFormDefault="qualified">
	<xs:element name="IFX">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="EAIHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string"  />
                            <xs:element name="RecID" type="xs:string"  />
                            <xs:element name="SrcSystemID" type="xs:string"  />
                            <xs:element name="DomID" type="xs:string"  />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LogTxn">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PmtID" type="xs:string"  />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EAIBody">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MsgRq"  >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Header"  >
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TxnId" type="xs:string"  />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SvcRq"  >
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="KINBR" type="xs:string" />
                                                    <xs:element name="HCODE" type="xs:string" />
                                                    <xs:element name="ECKIN" type="xs:string" />
                                                    <xs:element name="ECTRM" type="xs:string" />
                                                    <xs:element name="ECTNO" type="xs:string" />
                                                    <xs:element name="LCACTNO" type="xs:string" />
                                                    <xs:element name="LCGTXNO" type="xs:string" />
                                                    <xs:element name="RBRNO" type="xs:string" />
                                                    <xs:element name="CIFKEY" type="xs:string" />
                                                    <xs:element name="CIFERR" type="xs:string" />
                                                    <xs:element name="ACFLG" type="xs:string" />
                                                    <xs:element name="ACBRNO" type="xs:string" />
                                                    <xs:element name="MGDATA" type="xs:string" />
                                                    <xs:element name="ACTNO" type="xs:string" />
                                                    <xs:element name="IBGTXNO" type="xs:string" />
                                                    <xs:element name="TXAMT" type="xs:string" />
                                                    <xs:element name="CRGRRATE" type="xs:string" />
                                                    <xs:element name="CRGRTYPE" type="xs:string" />
                                                    <xs:element name="CRGRDT" type="xs:string" />
                                                    <xs:element name="EDAY" type="xs:string" />
                                                    <xs:element name="SDAY" type="xs:string" />
                                                    <xs:element name="CHARCD1" type="xs:string" />
                                                    <xs:element name="CHARCD2" type="xs:string" />
                                                    <xs:element name="ACNO" type="xs:string" />
                                                    <xs:element name="SBNO" type="xs:string" />
                                                    <xs:element name="BUNINO" type="xs:string" />
                                                    <xs:element name="IBKNO" type="xs:string" />
                                                    <xs:element name="IBRNO" type="xs:string" />
                                                    <xs:element name="HCRATE" type="xs:string" />
                                                    <xs:element name="HCFEE" type="xs:string" />
                                                    <xs:element name="TXTYPE" type="xs:string" />
                                                    <xs:element name="PACTNO" type="xs:string" />
                                                    <xs:element name="CKAMT" type="xs:string" />
                                                    <xs:element name="CKNO" type="xs:string" />
                                                    <xs:element name="CKBKNO7" type="xs:string" />
                                                    <xs:element name="CKACTNO" type="xs:string" />
                                                    <xs:element name="MGENO" type="xs:string" />
                                                    <xs:element name="SPENO" type="xs:string" />
                                                    <xs:element name="FUNCD" type="xs:string" />
                                                    <xs:element name="RVSNO" type="xs:string" />
                                                    <xs:element name="LOANTYP" type="xs:string" />
                                                    <xs:element name="GOVSTYP" type="xs:string" />
                                                    <xs:element name="SETGFG" type="xs:string" />
                                                    <xs:element name="GRAMT" type="xs:string" />
                                                    <xs:element name="ELCDTLFG" type="xs:string" />
                                                    <xs:element name="NEGRATE" type="xs:string" />
                                                    <xs:element name="NEGFEE" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>