EAI/Service/Transaction/L2300_Rs.xsd

<?xml version="1.0" ?>
<xs:schema id="IFX" targetNamespace="http://www.ifxforum.org" xmlns="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified" elementFormDefault="qualified">
	<xs:element name="IFX"   >
		<xs:complexType>
            <xs:sequence>
                <xs:element name="EAIHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string" />
                            <xs:element name="RecID" type="xs:string" />
                            <xs:element name="SrcSystemID" type="xs:string" />
                            <xs:element name="DomID" type="xs:string" />
                            <xs:element name="ErrCode" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LogTxn">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PmtID" type="xs:string"  />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EAIBody">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MsgRs"  >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Header"  >
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TxnId" type="xs:string"  />
                                                    <xs:element name="RspCode" type="xs:string"  />
                                                    <xs:element name="Desc" type="xs:string"  />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SvcRs">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ACTNO" type="xs:string" />
                                                    <xs:element name="NAME" type="xs:string" />
                                                    <xs:element name="COMADR" type="xs:string" />
                                                    <xs:element name="FIDATE" type="xs:string" />
                                                    <xs:element name="ISTPRT" type="xs:string" />
                                                    <xs:element name="PUNINO" type="xs:string" />
                                                    <xs:element name="PENAME" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>