EAI/Service/Transaction/L2300_Rq.xsd

<?xml version="1.0" ?>
<xs:schema id="IFX" targetNamespace="http://www.ifxforum.org" xmlns="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	attributeFormDefault="qualified" elementFormDefault="qualified">
	<xs:element name="IFX"   >
		<xs:complexType>
            <xs:sequence>
                <xs:element name="EAIHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string"  />
                            <xs:element name="RecID" type="xs:string"  />
                            <xs:element name="SrcSystemID" type="xs:string"  />
                            <xs:element name="DomID" type="xs:string"  />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LogTxn">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PmtID" type="xs:string"  />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EAIBody">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MsgRq"  >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Header"  >
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TxnId" type="xs:string"  />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SvcRq">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="KINBR" type="xs:string" />
                                                    <xs:element name="HCODE" type="xs:string" />
                                                    <xs:element name="ECKIN" type="xs:string" />
                                                    <xs:element name="ECTRM" type="xs:string" />
                                                    <xs:element name="ECTNO" type="xs:string" />
                                                    <xs:element name="ACTNO" type="xs:string" />
                                                    <xs:element name="CIFKEY" type="xs:string" />
                                                    <xs:element name="CAUSE" type="xs:string" />
                                                    <xs:element name="INTFLG" type="xs:string" />
                                                    <xs:element name="INTAMT" type="xs:string" />
                                                    <xs:element name="SINTAMT" type="xs:string" />
                                                    <xs:element name="RSINTAMT" type="xs:string" />
                                                    <xs:element name="CREAMT" type="xs:string" />
                                                    <xs:element name="REFAMT" type="xs:string" />
                                                    <xs:element name="RREFAMT" type="xs:string" />
                                                    <xs:element name="RECAMT" type="xs:string" />
                                                    <xs:element name="TXTYPE" type="xs:string" />
                                                    <xs:element name="PAYACTNO" type="xs:string" />
                                                    <xs:element name="CKAMT" type="xs:string" />
                                                    <xs:element name="CKNO" type="xs:string" />
                                                    <xs:element name="CKBKNO" type="xs:string" />
                                                    <xs:element name="CKACTNO" type="xs:string" />
                                                    <xs:element name="TNINTAMT" type="xs:string" />
                                                    <xs:element name="IBRNO" type="xs:string" />
                                                    <xs:element name="COUNT" type="xs:string" />
                                                    <xs:element name="REASON1" type="xs:string" />
                                                    <xs:element name="REASON2" type="xs:string" />
                                                    <xs:element name="REASON3" type="xs:string" />
                                                    <xs:element name="BLRECFG" type="xs:string" />
                                                    <xs:element name="UCIFKEY" type="xs:string" />
                                                    <xs:element name="FEEID" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>