EAI/Service/Transaction/L4200_Rq.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tw.org.ba="http://www.ba.org.tw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IFX">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EAIHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TxnID" type="xs:string" />
              <xs:element name="RecID" type="xs:string" />
              <xs:element name="SrcSystemID" type="xs:string" />
              <xs:element name="DomID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LogTxn">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TxnID" type="xs:string" />
              <xs:element name="PrcDt" type="xs:string" />
              <xs:element name="PmtID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EAIBody">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MsgRq">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Header">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TxnId" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SvcRq">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="KINBR" type="xs:string" />
                          <xs:element name="ACBRNO" type="xs:string" />
                          <xs:element name="ACFLG" type="xs:string" />
                          <xs:element name="HCODE" type="xs:string" />
                          <xs:element name="ECKIN" type="xs:string" />
                          <xs:element name="ECTRM" type="xs:string" />
                          <xs:element name="ECTNO" type="xs:string" />
                          <xs:element name="CIFKEY" type="xs:string" />
                          <xs:element name="CIFERR" type="xs:string" />
                          <xs:element name="ACTNO" type="xs:string" />
                          <xs:element name="PRIAMT" type="xs:string" />
                          <xs:element name="VLDATE" type="xs:string" />
                          <xs:element name="SINTAMT" type="xs:string" />
                          <xs:element name="CREAMT" type="xs:string" />
                          <xs:element name="REFAMT" type="xs:string" />
                          <xs:element name="DFCD" type="xs:string" />
                          <xs:element name="INTAMT" type="xs:string" />
                          <xs:element name="DFAMT" type="xs:string" />
                          <xs:element name="EAMT" type="xs:string" />
                          <xs:element name="RECAMT" type="xs:string" />
                          <xs:element name="CAUSE" type="xs:string" />
                          <xs:element name="TXTYPE" type="xs:string" />
                          <xs:element name="PAYACTNO" type="xs:string" />
                          <xs:element name="CKAMT" type="xs:string" />
                          <xs:element name="CKNO" type="xs:string" />
                          <xs:element name="CKBKNO" type="xs:string" />
                          <xs:element name="CKACTNO" type="xs:string" />
                          <xs:element name="EAMTCD" type="xs:string" />
                          <xs:element name="LNSDFAMT" type="xs:string" />
                          <xs:element name="BLRECFG" type="xs:string" />
                          <xs:element type="xs:string" name="CLSID" />
                          <xs:element type="xs:string" name="CLSNO" />
                          <xs:element type="xs:string" name="CANCEL" />
                          <xs:element type="xs:string" name="BACKINT" />
                          <xs:element type="xs:string" name="AXTYPE" />
                          <xs:element type="xs:string" name="APACTNO" />
                          <xs:element type="xs:string" name="REASON1" />
                          <xs:element type="xs:string" name="REASON2" />
                          <xs:element type="xs:string" name="REASON3" />
                          <xs:element type="xs:string" name="UCIFKEY" />
                          <xs:element type="xs:string" name="REPYCD" />
                          <xs:element type="xs:string" name="REPYCDX" />
                          <xs:element type="xs:string" name="BDAMT" />
                          <xs:element type="xs:string" name="RVSNO" />
                          <xs:element type="xs:string" name="TDLINT" />
                          <xs:element type="xs:string" name="DLCD" />
                          <xs:element type="xs:string" name="ADLINT" />
                          <xs:element type="xs:string" name="ETX" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>