EAI/Service/Transaction/L4700_Rq.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tw.org.ba="http://www.ba.org.tw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="IFX">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EAIHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string" />
                            <xs:element name="RecID" type="xs:string" />
                            <xs:element name="SrcSystemID" type="xs:string" />
                            <xs:element name="DomID" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LogTxn">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string" />
                            <xs:element name="PrcDt" type="xs:string" />
                            <xs:element name="PmtID" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EAIBody">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MsgRq">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Header">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TxnId" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SvcRq">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="KINBR" type="xs:string" />
                                                    <xs:element name="ACTNO" type="xs:string" />
                                                    <xs:element name="HCODE" type="xs:string" />
                                                    <xs:element name="CURCD" type="xs:string" />
                                                    <xs:element name="TXAMT" type="xs:string" />
                                                    <xs:element name="SEQFG" type="xs:string" />
                                                    <xs:element name="ACFLG" type="xs:string" />
                                                    <xs:element name="ECKIN" type="xs:string" />
                                                    <xs:element name="ECTRM" type="xs:string" />
                                                    <xs:element name="ECTNO" type="xs:string" />
                                                    <xs:element name="RBRNO" type="xs:string" />
                                                    <xs:element name="CIFKEY" type="xs:string" />
                                                    <xs:element name="CIFERR" type="xs:string" />
                                                    <xs:element name="APTYPE" type="xs:string" />
                                                    <xs:element name="INACTNO" type="xs:string" />
                                                    <xs:element name="GTXNO" type="xs:string" />
                                                    <xs:element name="VRATE" type="xs:string" />
                                                    <xs:element name="IRTKD" type="xs:string" />
                                                    <xs:element name="RATECD" type="xs:string" />
                                                    <xs:element name="IRTCD" type="xs:string" />
                                                    <xs:element name="FITIRT" type="xs:string" />
                                                    <xs:element name="SIGN" type="xs:string" />
                                                    <xs:element name="IXPR" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>