EAI/Service/Transaction/LR006_Rq.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tw.org.ba="http://www.ba.org.tw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IFX">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EAIHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TxnID" type="xs:string" />
              <xs:element name="RecID" type="xs:string" />
              <xs:element name="SrcSystemID" type="xs:string" />
              <xs:element name="DomID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LogTxn">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TxnID" type="xs:string" />
              <xs:element name="PrcDt" type="xs:string" />
              <xs:element name="PmtID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EAIBody">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MsgRq">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Header">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TxnId" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SvcRq">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ACTNO" type="xs:string"/>
                          <xs:element name="ACFLG" type="xs:string"/>
                          <xs:element name="CIFKEY" type="xs:string"/>
                          <xs:element name="CIFERR" type="xs:string"/>
                          <xs:element name="TXCD" type="xs:string"/>
                          <xs:element name="PRDCNT" type="xs:string"/>
                          <xs:element name="IEDATE" type="xs:string"/>
                          <xs:element name="VLDATE" type="xs:string"/>
                          <xs:element name="PRIAMT" type="xs:string"/>
                          <xs:element name="GAAMT" type="xs:string"/>
                          <xs:element name="DICD" type="xs:string"/>
                          <xs:element name="DFCD" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>