EAI/Service/Transaction/LR017_Rq.xsd

<?xml version="1.0" ?>
<xs:schema id="IFX" targetNamespace="http://www.ifxforum.org" xmlns:mstns="http://www.ifxforum.org"
	xmlns="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"
	attributeFormDefault="qualified" elementFormDefault="qualified">
	<xs:element name="IFX"   >
		<xs:complexType>
			<xs:sequence >
				<xs:element name="EAIHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TxnID" type="xs:string"  />
							<xs:element name="RecID" type="xs:string"  />
							<xs:element name="SrcSystemID" type="xs:string"  />
							<xs:element name="DomID" type="xs:string"  />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LogTxn">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PmtID" type="xs:string"  />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EAIBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MsgRq"  >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Header"  >
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TxnId" type="xs:string"  />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SvcRq"  >
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ACTNO" type="xs:string"  />
													<xs:element name="OTXCD" type="xs:string"  />
													<xs:element name="ACFLG" type="xs:string"  />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>