EAI/Service/Transaction/R0060_Rs.xsd

<?xml version="1.0" ?>
<xs:schema id="IFX" targetNamespace="http://www.ifxforum.org" xmlns:mstns="http://www.ifxforum.org"
	xmlns="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"
	attributeFormDefault="qualified" elementFormDefault="qualified">
	<xs:element name="IFX"   >
		<xs:complexType>
			<xs:sequence >
				<xs:element name="EAIHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DebugLevel" type="xs:string"  />
							<xs:element name="ErrCode" type="xs:string"  />
							<xs:element name="RecSize" type="xs:string"  />
							<xs:element name="DomID" type="xs:string"  />
							<xs:element name="TimeOut" type="xs:string"  />
							<xs:element name="RecID" type="xs:string"  />
							<xs:element name="Capacity" type="xs:string"  />
							<xs:element name="SrcSystemID" type="xs:string"  />
							<xs:element name="TxnID" type="xs:string"  />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LogTxn">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TxnID" type="xs:string"  />
							<xs:element name="PrcDt" type="xs:string"  />
							<xs:element name="PmtID" type="xs:string"  />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EAIBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MsgRs"  >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Header"  >
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TxnId" type="xs:string"  />
                                                    <xs:element name="RecCtrlStatus" type="xs:string" />
                                                    <xs:element name="RspCode" type="xs:string"  />
													<xs:element name="Desc" type="xs:string"  />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
                                        <xs:element name="SvcRs">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="BRNO" type="xs:string" />
                                                    <xs:element name="TRMSEQ" type="xs:string" />
                                                    <xs:element name="TXTNO" type="xs:string" />
                                                    <xs:element maxOccurs="unbounded" name="Detail">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BKNO" type="xs:string" />
                                                                <xs:element name="BRNO" type="xs:string" />
                                                                <xs:element name="NAME" type="xs:string" />
                                                                <xs:element name="TELNO" type="xs:string" />
                                                                <xs:element name="ZIPCD" type="xs:string" />
                                                                <xs:element name="BOFF" type="xs:string" />
                                                                <xs:element name="SWIFTCD" type="xs:string" />
                                                                <xs:element name="FTELNO" type="xs:string" />
                                                                <xs:element name="COURT" type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>