EAI/Service/Transaction/R1000_Rq.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tw.org.ba="http://www.ba.org.tw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifxforum.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="IFX">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EAIHeader">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string" />
                            <xs:element name="RecID" type="xs:string" />
                            <xs:element name="SrcSystemID" type="xs:string" />
                            <xs:element name="DomID" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LogTxn">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TxnID" type="xs:string" />
                            <xs:element name="PrcDt" type="xs:string" />
                            <xs:element name="PmtID" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EAIBody">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MsgRq">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Header">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TxnId" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SvcRq">
                                            <xs:complexType>
                                                <xs:sequence>
													<xs:element name="KINBR" type="xs:string" />
													<xs:element name="DSCPT" type="xs:string" />
													<xs:element name="ACBRNO" type="xs:string" />
													<xs:element name="ACTNO" type="xs:string" />
													<xs:element name="HCODE" type="xs:string" />
													<xs:element name="CRDB" type="xs:string" />
													<xs:element name="TXAMT" type="xs:string" />
													<xs:element name="ACFLG" type="xs:string" />
													<xs:element name="ECKIN" type="xs:string" />
													<xs:element name="ECTRM" type="xs:string" />
													<xs:element name="ECTNO" type="xs:string" />
													<xs:element name="RBRNO" type="xs:string" />
													<xs:element name="SECNO" type="xs:string" />
													<xs:element name="CIFKEY" type="xs:string" />
													<xs:element name="CIFERR" type="xs:string" />
													<xs:element name="FBRNO" type="xs:string" />
													<xs:element name="REMDAY" type="xs:string" />
													<xs:element name="RCVBK" type="xs:string" />
													<xs:element name="REMTYPE" type="xs:string" />
													<xs:element name="ORGDAY" type="xs:string" />
													<xs:element name="ORGTYPE" type="xs:string" />
													<xs:element name="ORGRCVNO" type="xs:string" />
													<xs:element name="ORGSNDNO" type="xs:string" />
													<xs:element name="ORGRMSNO" type="xs:string" />
													<xs:element name="REMCIF" type="xs:string" />
													<xs:element name="MACTNO" type="xs:string" />
													<xs:element name="TXTYPE" type="xs:string" />
													<xs:element name="REMHC" type="xs:string" />
													<xs:element name="HCTXTYPE" type="xs:string" />
													<xs:element name="FISCHC" type="xs:string" />
													<xs:element name="REMNAM" type="xs:string" />
													<xs:element name="REMTEL" type="xs:string" />
													<xs:element name="RCVACT" type="xs:string" />
													<xs:element name="RCVNAM" type="xs:string" />
													<xs:element name="RCVTEL" type="xs:string" />
													<xs:element name="TAXNO" type="xs:string" />
													<xs:element name="CKNO" type="xs:string" />
													<xs:element name="REJCD" type="xs:string" />
													<xs:element name="REMARK" type="xs:string" />
													<xs:element name="PRECD" type="xs:string" />
													<xs:element name="SLIPNO" type="xs:string" />
													<xs:element name="FEDICD" type="xs:string" />
													<xs:element name="FROMSVR" type="xs:string" />
													<xs:element name="BHNO" type="xs:string" />
													<xs:element name="BHSEQ" type="xs:string" />
													<xs:element name="BHCD" type="xs:string" />
													<xs:element name="FIELD1" type="xs:string" />
													<xs:element name="FIELD2" type="xs:string" />
													<xs:element name="FIELD3" type="xs:string" />
													<xs:element name="FIELD4" type="xs:string" />
													<xs:element name="MSGFLG" type="xs:string" />
													<xs:element name="RCVPHO" type="xs:string" />
													<xs:element name="MSGHC" type="xs:string" />
													<xs:element name="CHRGTYP" type="xs:string" />
													<xs:element name="RSFLG" type="xs:string" />
													<xs:element name="FORM" type="xs:string" />
													<xs:element name="DONATE" type="xs:string" />
													<xs:element name="PSWD" type="xs:string" />
													<xs:element name="TXCIF" type="xs:string" />
													<xs:element name="TXNAME" type="xs:string" />
													<xs:element name="EKINBR" type="xs:string" />
													<xs:element name="ETRMSEQ" type="xs:string" />
													<xs:element name="ETXTNO" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>