ModelCore/Schema/ENID/cds_lcd_amendment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Daphne Deng (Universal Exchange Inc) -->
<xs:schema targetNamespace="http://www.uxcds.com/xmlschema/cds" xmlns:cds="http://www.uxcds.com/xmlschema/cds" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="cds_lcd_type.xsd"/>
	<xs:element name="CDSLcdAmendment">
		<xs:annotation>
			<xs:documentation>
CDS國內信用狀修改申請書
version:版本號碼
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lcAmendInfo">
					<xs:annotation>
						<xs:documentation>信用狀修改申請書資料</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="cds:LcdAmendInfoType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="lcAmendments" type="cds:LcdAmendmentsType">
					<xs:annotation>
						<xs:documentation>信用狀修改資料</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lcDocOld" type="cds:LcdType">
					<xs:annotation>
						<xs:documentation>信用狀本文修改前</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lcDocNew" type="cds:LcdType">
					<xs:annotation>
						<xs:documentation>信用狀本文修改後</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cpDoc" type="cds:CPType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>本票</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lcData" type="cds:LcdDataType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>信用狀控制資料</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
