ModelCore/Schema/ENID/cds_lcd_cancellation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Daphne Deng (Universal Exchange Inc) -->
<xs:schema targetNamespace="http://www.uxcds.com/xmlschema/cds" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cds="http://www.uxcds.com/xmlschema/cds" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="cds_lcd_type.xsd"/>
	<xs:element name="CDSLcdCancellation">
		<xs:annotation>
			<xs:documentation>
CDS國內信用狀註銷切結書

version:版本號碼
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lcCancInfo" type="cds:LcdCancInfoType">
					<xs:annotation>
						<xs:documentation>國內信用狀註銷切結書</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lcDoc" type="cds:LcdType">
					<xs:annotation>
						<xs:documentation>信用狀資料</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lcCancData" type="cds:LcdCancDataType">
					<xs:annotation>
						<xs:documentation>信用狀註銷資料</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
