ModelCore/Schema/ENID/cds_lcd_application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Daphne Deng (Universal Exchange Inc) -->
<xs:schema targetNamespace="http://www.uxcds.com/xmlschema/cds" xmlns:cds="http://www.uxcds.com/xmlschema/cds" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="cds_lcd_type.xsd"/>
	<xs:element name="CDSLcdApplication">
		<xs:annotation>
			<xs:documentation>
CDS國內信用狀申請書
version:版本號碼
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lcAppInfo" type="cds:LcdAppInfoType">
					<xs:annotation>
						<xs:documentation>信用狀申請書資料</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lcDoc" type="cds:LcdType">
					<xs:annotation>
						<xs:documentation>信用狀本文</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cpDoc" type="cds:CPType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>本票</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lcData" type="cds:LcdDataType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>信用狀控制資料</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
