ModelCore/Schema/ENID/cds_data_company.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Daphne Deng (Universal Exchange Inc) -->
<xs:schema targetNamespace="http://www.uxcds.com/xmlschema/cds" xmlns:cds="http://www.uxcds.com/xmlschema/cds" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="cds_data_type.xsd"/>
	<xs:element name="CDSDataCompany">
		<xs:annotation>
			<xs:documentation>
CDS公司基本資料
version:版本號碼
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="companyInfo" type="cds:CompanyInfoType">
					<xs:annotation>
						<xs:documentation>公司資訊</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="companyData" type="cds:CompanyDataType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>公司基本資料</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="caSerialNos" type="cds:CompanyCASerialNoType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>憑證序號資料</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" fixed="1.0"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
