ModelCore/Schema/ENID/EBank.xsd

<?xml version="1.0" encoding="big5"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EBank">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="loanrecord">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="draftNo" type="xs:string" />
							<xs:element name="confirmdate" type="xs:string" />
							<xs:element name="coid" type="xs:string" />
							<xs:element name="issuebankid" type="xs:string" />
							<xs:element name="lcano" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>