ModelCore/Schema/FPG/TXD2SB39.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="J2SP">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BkId" type="xs:string" />
                <xs:element name="FILENAME" type="xs:string" minOccurs="0" />
                <xs:element name="TABLENAME" type="xs:string" />
                <xs:element name="FLAG" type="xs:unsignedShort" minOccurs="0" nillable="1" />
                <xs:element name="INITIALFILE" type="xs:string" minOccurs="0" />
                <xs:element name="ITEM">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TXD2SB39" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="LCBKACID" type="xs:string"  />
                                    <xs:attribute name="LCNO" type="xs:string"  />
                                    <xs:attribute name="LCSQNO" type="xs:string"  />
                                    <xs:attribute name="SQNO" type="xs:unsignedInt"  />
                                    <xs:attribute name="TRNTM" type="xs:string"  />
                                    <xs:attribute name="BKID" type="xs:string"  />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string"  />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>