ModelCore/Schema/FPG/WXD2SB30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="J2SP">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BkId" type="xs:string" />
                <xs:element name="FILENAME" type="xs:string" minOccurs="0" />
                <xs:element name="TABLENAME" type="xs:string" />
                <xs:element name="FLAG" type="xs:unsignedShort" minOccurs="0" nillable="1" />
                <xs:element name="INITIALFILE" type="xs:string" minOccurs="0" />
                <xs:element name="ITEM">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="WXD2SB30" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="LCBKACID" type="xs:string"  />
                                    <xs:attribute name="BENFRFNO" type="xs:string"  />
                                    <xs:attribute name="BENFCOCNM" type="xs:string"  />
                                    <xs:attribute name="EPRAMT" type="xs:decimal"  />
                                    <xs:attribute name="LCBK" type="xs:string"  />
                                    <xs:attribute name="LCNO" type="xs:string"  />
                                    <xs:attribute name="LCSQNO" type="xs:string"  />
                                    <xs:attribute name="EDDAT" type="xs:string"  />
                                    <xs:attribute name="SQNO" type="xs:unsignedInt"  />
                                    <xs:attribute name="BROWBK" type="xs:string"  />
                                    <xs:attribute name="BKNM" type="xs:string"  />
                                    <xs:attribute name="REMIACNO" type="xs:string"  />
                                    <xs:attribute name="CTM" type="xs:string"  />
                                    <xs:attribute name="TEL" type="xs:string"  />
                                    <xs:attribute name="XREM" type="xs:string"  />
                                    <xs:attribute name="HNTSITE" type="xs:string"  />
                                    <xs:attribute name="OUTMDAT" type="xs:string"  />
                                    <xs:attribute name="TRNTM" type="xs:string"  />
                                    <xs:attribute name="BKID" type="xs:string"  />
                                    <xs:attribute name="IVNUM" type="xs:unsignedInt"  />
                                    <xs:attribute name="EPRDAT" type="xs:string"  />
                                    <xs:attribute name="EFFDDAT" type="xs:string"  />
                                    <xs:attribute name="LCLIM" type="xs:decimal"  />
                                    <xs:attribute name="CUCOCNM" type="xs:string"  />
                                    <xs:attribute name="CUCOADR" type="xs:string"  />
                                    <xs:attribute name="BENFADR" type="xs:string"  />
                                    <xs:attribute name="PAYPES" type="xs:string"  />
                                    <xs:attribute name="COMT1" type="xs:string"  />
                                    <xs:attribute name="COMT2" type="xs:string"  />
                                    <xs:attribute name="DSRCONT" type="xs:string"  />
                                    <xs:attribute name="COMT3" type="xs:string"  />
                                    <xs:attribute name="REMIACNONM" type="xs:string"  />
                                    <xs:attribute name="EPRAMTC" type="xs:string"  />
                                    <xs:attribute name="FILE1" type="xs:string"  />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string"  />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>